[Desktop Entry]
Comment=
Terminal=false
Name=Scratch2 PyTechBrain
Exec=/opt/Scratch_2/bin/Scratch\ 2
Type=Application
Icon=/usr/share/icons/PyTechBrain.png
